header {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    color: #59287a;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    /* background: #ccc; */
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
  }
  
  nav {
    float: right;
  }
  
  .clearfix {
    clear: both;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
  }
  